body {
  font-family: Overpass;
  margin:0;
  padding:0;
  background: black;
}

body{
  width:100%;
  box-sizing: content-box;
  width: 100%;
}

html{
  margin:0;
  padding:0;
}

h1, h2, h3, h4, h5 {
  color: white;
  font-family: Chivo;
}

p {
  color: white;
  opacity: .7;
}

i {
  color: white;
  opacity: .7;
}


/*lien */ 
a:hover {
font-weight: bold;
}
a {
text-decoration: none;
color: #fdcb59;
text-align: center;
}


/*BANNER PAGE*/

.aboutcontainer{
  width: 100%;

}

.aboutbanner {
  background:#2b3c4b;
  background-size: cover;
  background-position: center;
  padding: 20px 0;
  border-bottom:5px solid #fdcb59;
  height:30px;
  top: 0;
  width:100%;
  background-attachment: fixed;
  position: fixed;
  z-index:3;

}


#nav {
  width:100%;
  margin: 0;
  text-align: right;
  display: inline;
}
#nav li {
  display: inline;
  list-style: none;
}
#nav a {
  color:#fdcb59;
  display:inline-block;
  margin: 0 30px;
}

#nav h1{
  color:#fdcb59;
  display:inline-block;
  margin: 0 30px;
}

/*IMAGE*/

.zone img {
  opacity:0.9;
  width: 100%;
  height: 340px;
  object-fit: cover;
}


.zone2 {
  display: grid;
  background: white;
  grid-auto-rows: minmax(70px, auto);
  grid-template-columns: repeat(3, 33%);
  text-align: center;
  align-content: center;
  width:100%;
}
.zone2 {
  margin: 3;
}

.zone2 h1{
  color:#fdcb59;
  font-size:50px;
}

.one {
  grid-column: 1 / 4;
  grid-row: 1;
}


.zone2a {
  background: white;
  width: auto;
  text-align: justify;
  padding: 24px;
}

.zone2a img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.zone2a p {
  color: black;
  opacity: 0.8;
}



/*SLIDER TEST*/
#wslider {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 370px;
}

#wslides {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    max-width: 600%;
    max-height: 100%;
    animation-name: wslide;
    animation-duration: 65s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#wlides:hover {
    animation-play-state: paused; 
}

#wslides figure {
    display: inline-block;
    width: 100vw;
    max-height: 100%;
    margin: 0;
}

#wslides figure img {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#wslides figure figcaption {
    position: absolute;
    bottom: 0;
    padding: 2.5em 0;
    text-align: center;
    width: inherit;
}

.dots_commands  {
    position: absolute;
    bottom: 0;
    width: 100vw;
    padding:0;
    margin: 0;
    text-align: center;
}

.dots_commands li {
    display: inline;
    padding:0; margin:0;
}

.dots_commands label {
    position: relative;
    display: inline-block;
    height:8px; 
    width: 8px;
    margin: 0 5px;
    text-indent: -9999px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.55) inset;
    cursor: pointer;
}

.dots_commands label:active {
    outline: none;
    background: dodgerblue;
}


input[type="radio"] {
    display: none;
}

input[type="radio"]#show_slide1:checked ~ nav .dots_commands li:nth-of-type(1) label,
input[type="radio"]#show_slide2:checked ~ nav .dots_commands li:nth-of-type(2) label,
input[type="radio"]#show_slide3:checked ~ nav .dots_commands li:nth-of-type(3) label,
{
    outline: none;
    background: dodgerblue;
}

input[type="radio"]#show_slide1:checked ~ div#wslides {
    animation: none;
    left: 0;
}

input[type="radio"]#show_slide2:checked ~ div#wslides {
    animation: none;
    left: -100vw;
}

input[type="radio"]#show_slide3:checked ~ div#wslides {
    animation: none;
    left: -200vw;
}




@keyframes wslide{
    0%, 30%, 100%{
        left: 0; 
    }
    38%, 52%{
        left: -100vw; 
    }
    60%, 95%{
        left: -200vw; 
    }
  
  }


/*ZONE 4*/

.zone4 {
  display: grid;
  background: white;
  grid-gap: 40px;
  align-content: center;
  padding:20px;
}

.zone4a {
  width: 100%;
  margin: auto;

}

.zone4 h3{
  color: black;
  text-align: center;
  font-size:20px;
}

.zone4 p{
  text-align: justify;
  color: black;

}

/*ZONE 5*/

.zone5 {
  background: #fdcb59;
  grid-gap: 40px;
  text-align: center;
  padding:15px;
}

.zone5a {
  display: inline;
  background: #fdcb59;
  grid-gap: 40px;
  text-align: center;
  padding:15px;
}


.zone5a p{
  color: #2b3c4b;
  opacity: 1;
  display: inline-block;
  font-size: 20px;
}

.zone5a img {
  width:20px;
  height: 20px;
  margin-left: 30px;
}

/*ZONE 6*/

.zone6 {
  display: grid;
  background: #2b3c4b;
  grid-auto-rows: minmax(70px, auto);
  grid-template-columns: repeat(3,33%);
  text-align: center;
  align-content: center;
  width:100%;
}
.zone6 {
  opacity: 0.9;
  margin: 3;
}

.zone6 h1{
  color:#fdcb59;
  font-size:50px;
}

.two {
  grid-column: 1 / 4;
  grid-row: 1;
}


.zone6a {
  background: #2b3c4b;
  opacity: 0.9;
  width: auto;
  text-align: justify;
  padding: 24px;

}

.zone6a img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  display: block;
}

.zone6a p {
  color: white;
  opacity: 0.8;
}



/*ZONE 7*/

.zone7 {
  display: grid;
  background: #fdcb59;
  grid-template-columns: repeat(4, 25%);
  text-align: center;
  align-content: center;
  width: 100%;
}


.zone7a {
  width: auto;
  text-align: center;
}


.zone7a p {
  color: #2b3c4b;
  opacity: 0.8;
}

.zone7a i {
  color: #2b3c4b;
  opacity: 0.8;
}

.zone7a h3 {
  color: #2b3c4b;
}


/*ZONE 8*/

.zone8 {
  background: black;
  grid-gap: 40px;
  text-align: center;
  padding:15px;
}


.zone8 p{
  color: white;
  opacity: 1;
}


/*Footer*/

.footer {
  background: #2b3c4b;
  text-align: center;
  padding: 24px 0;
}

.footer p {
  color: #f0c40f;
  opacity:1;
}

.fbutton{
  background-color: #d4ac3a;
  color: white;
  padding: 16px 48px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  transition: .3s;
}

.fbutton:hover {
  background-color: #0D1EC6;
  color: white;
}

@media (max-width: 800px) {

   body{
    max-width: 100%;
    margin:0;
    padding: 0;
  }

  .zone2 {
    width:auto;
    grid-template-columns: 1fr;
    padding-left:0;
    grid-gap: 0;
    display: inline-block;
  }

  .zone2a {
    width:auto;
    padding-left:15px;
    padding-right: 15px;
    margin:15px;
  }

  .zone6 {
    width:auto;
    grid-template-columns: 1fr;
    padding-left:0;
    grid-gap: 0;
    display: inline-block;
  }

  .zone6a {
    width:auto;
    padding-left:15px;
    padding-right: 15px;
    margin:15px;
  }

  .zone7a p {
  color: #2b3c4b;
  opacity: 0.8;
  font-size: 10px;
  }

  .zone7a i {
  color: #2b3c4b;
  opacity: 0.8;
  }

  .zone7a h3 {
  color: #2b3c4b;
  font-size: 20px;
  }

  .zone5a p {
    font-size: 10px;
  }

  .zone5a img {
  width:20px;
  height: 20px;
  margin-left: 22px;
  }

  #wslider {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height:200px;
    border-bottom:5px solid #113e65;
  }

  #wslides figure img {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  #wslides figure figcaption {
    position: absolute;
    bottom: 0;
    padding: 2em 0;
    text-align: center;
    width: inherit;
    color: #fdcb59;
    font-size: 4vmax;
  }

  .aboutbanner{
    max-width: 100%;
    height: 80px;
    padding:0;
  }

  #nav1 {
  width:50%;
  margin: 0;
  text-align: left;
  display: inline; 
  }

  #nav1 li {
  display: inline;
  list-style: none;
  }

  #nav1 a {
  color:#fdcb59;
  display:inline-block;
  margin: 0 30px;
  }

  #nav1 h1{
  color:#fdcb59;
  display:block;
  margin: 0 30px;
  }
} 

@media (max-width: 500px) {

   body{
    max-width: 100%;
    margin:0;
    padding: 0;
  }



  .zone2 {
    width:auto;
    grid-template-columns: 1fr;
    padding-left:0;
    grid-gap: 0;
    display: inline-block;
  }

  .zone2a {
    width:auto;
    padding-left:15px;
    padding-right: 15px;
    margin:15px;
  }

  .zone6 {
    width:auto;
    grid-template-columns: 1fr;
    padding-left:0;
    grid-gap: 0;
    display: inline-block;
  }

  .zone6 h1 {
    font-size: 40px;
  }

  .zone6a {
    width:auto;
    padding-left:15px;
    padding-right: 15px;
    margin:15px;
  }

  .zone7a p {
  color: #2b3c4b;
  opacity: 0.8;
  font-size: 10px;
  }

  .zone7a i {
  color: #2b3c4b;
  opacity: 0.8;
  }

  .zone7a h3 {
  color: #2b3c4b;
  font-size: 20px;
  }

  .zone5a p {
    font-size: 10px;
  }

  .zone5a img {
  width:20px;
  height: 20px;
  margin-left: 22px;
  }

  #wslider {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height:130px;
    border-bottom:5px solid white;
    background: white;
  }

  #wslides figure img {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .dots_commands label {
    position: relative;
    display: inline-block;
    height:8px; 
    width: 8px;
    margin: 0 5px;
    text-indent: -9999px;
    background: #fdcb59;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.55) inset;
    cursor: pointer;
  }
  
    .aboutbanner{
    max-width: 100%;
    height: 80px;
    padding:0;
  }

  #nav1 {
  width:50%;
  margin: 0;
  text-align: left;
  display: inline; 
  }

  #nav1 li {
  display: inline;
  list-style: none;
  }

  #nav1 a {
  color:#fdcb59;
  display:inline-block;
  margin: 0 30px;
  }

  #nav1 h1{
  color:#fdcb59;
  display:block;
  margin: 0 30px;
  }

}



