body {
  font-family: Overpass;
  background: #2b3c4b;
  margin: 0;
}

h1, h2, h3 {
  color: #fdcb59;
  font-family: Chivo;
}

p {
  color: white;
  
}


/* liens */ 
a:hover {
font-weight: bold;
}

a {
text-decoration: none;
color: black;
}

/*DATAVIZ PAGE*/
.pjheader {
  background:#2b3c4b;
  background-size: cover;
  background-position: center;
  padding: 20px 0;
  border-bottom:5px solid #fdcb59;
  height:30px;
  top: 0;
  width:100%;
  background-attachment: fixed;
  position: fixed;
  z-index:3;

}

#nav2 {
  width:100%;
  margin: 0;
  text-align: right;
  display: inline;
}
#nav2 li {
  display: inline;
  list-style: none;
}
#nav2 a {
  color:#fdcb59;
  display:inline-block;
  margin: 0 30px;
}

#nav2 h1{
  color:#fdcb59;
  display:inline-block;
  margin: 0 30px;
}

.dvbanner {
  background-image: url(../images/give.jpg);
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
  border-bottom: 5px solid #fdcb59;
}


.dvbanner h1 {
  color: white;
  font-size: 45px;
  margin: 0;
}

.dvbanner p {
  color: white;
  font-size: 24px;
}


.dvcontainer {
  width: 885px;
  margin: auto;
  text-align: justify;
}


.image {
  display: grid;
}

.image {
  background: white;
  opacity: 0.8;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  border-radius: 4px;
  text-align: center;
  grid-template-columns: 440px 440px;
  width: 835px;
  height: 300px;
  padding: 24px;
  margin: 0;
}

.subimage {
  display: grid;
  text-align: left;
}

.image p{
  display: inline;
  text-align: left;
  color: black;
  opacity: .7;
}



/* SLIDER*/ 

#dvslider {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 500px;
}

#dvslides {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    max-height: 100%;
    animation-name: slide_animée;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#dvslides:hover {
    animation-play-state: paused;
}

#dvslides figure {
    display: inline-block;
    width: 70vw;
    max-height: 100%;
    margin: 0;
}

#dvslides figure img {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#dvslides figure figcaption {
    position: absolute;
    bottom: 0;
    padding: 2.5em 0;
    text-align: center;
    width: inherit;
    background-color: rgba(0,0,0,0.5);
    color: white;
}

#dvslides2 {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    max-height: 100%;
    animation-name: slide_animéec;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#dvslides2:hover {
    animation-play-state: paused; /* Mise en pause de l'animation */
}

#dvslides2 figure {
    display: inline-block;
    width: 70vw;
    max-height: 100%;
    margin: 0;
}

#dvslides2 figure img {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#dvslides2 figure figcaption {
    position: absolute;
    bottom: 0;
    padding: 2.5em 0;
    text-align: center;
    width: inherit;
    background-color: rgba(0,0,0,0.5);
    color: white;
}

.dots_commands  {
    position: absolute;
    bottom: 0;
    width: 70vw;
    padding:0;
    margin: 0;
    text-align: center;
}

.dots_commands li {
    display: inline;
    padding:0; margin:0;
}

.dots_commands label {
    position: relative;
    display: inline-block;
    height:8px; 
    width: 8px;
    margin: 0 5px;
    text-indent: -9999px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.55) inset;
    cursor: pointer;
}

.dots_commands label:active {
    outline: none;
    background: dodgerblue;
}


#play {
    position: absolute;
    cursor: pointer;
    bottom: 2em;
    right: 2em;
    width: 0;
    height: 0;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-left: 1em solid rgba(255,255,255,0.7);
    display: none;
    text-indent: -9999px;
}

#play2 {
    position: absolute;
    cursor: pointer;
    bottom: 2em;
    right: 2em;
    width: 0;
    height: 0;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-left: 1em solid rgba(255,255,255,0.7);
    display: none;
    text-indent: -9999px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]#show_slide1b:checked ~ nav .dots_commands li:nth-of-type(1) label,
input[type="radio"]#show_slide2b:checked ~ nav .dots_commands li:nth-of-type(2) label,
input[type="radio"]#show_slide3b:checked ~ nav .dots_commands li:nth-of-type(3) label,
input[type="radio"]#show_slide4b:checked ~ nav .dots_commands li:nth-of-type(4) label,
input[type="radio"]#show_slide1c:checked ~ nav .dots_commands li:nth-of-type(1) label,
input[type="radio"]#show_slide2c:checked ~ nav .dots_commands li:nth-of-type(2) label,
input[type="radio"]#show_slide3c:checked ~ nav .dots_commands li:nth-of-type(3) label,
{
    outline: none;
    background: dodgerblue;
}

input[type="radio"]#show_slide1b:checked ~ div#dvslides {
    animation: none;
    left: 0;
}

input[type="radio"]#show_slide2b:checked ~ div#dvslides {
    animation: none;
    left: -70vw;
}

input[type="radio"]#show_slide3b:checked ~ div#dvslides {
    animation: none;
    left: -140vw;
}
input[type="radio"]#show_slide4b:checked ~ div#dvslides {
    animation: none;
    left: -210;
}
input[type="radio"]#show_slide1c:checked ~ div#dvslides2 {
    animation: none;
    left: -70vw;
}

input[type="radio"]#show_slide2c:checked ~ div#dvslides2 {
    animation: none;
    left: -140vw;
}
input[type="radio"]#show_slide3c:checked ~ div#dvslides2 {
    animation: none;
    left: -210;
}


input[type="radio"]:not(:nth-last-of-type(1)):checked ~ nav label#play {
    display: block;
}

input[type="radio"]:not(:nth-last-of-type(1)):checked ~ nav label#play2 {
    display: block;
}

input[type="radio"]#play:checked ~ div#dvslides {
    animation-name: slide_animée;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

input[type="radio"]#play2:checked ~ div#dvslides2 {
    animation-name: slide_animéec;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes slide_animée {
    0%, 15%, 100%{
        left: 0; /*1ère image*/
    }
    23%, 42%{
        left: -70vw; /*2ème image*/
    }
    48%, 68%{
        left: -140vw; /*3ème image*/
    }
    73%, 92%{
        left: -210vw; /*4ème image*/
    }
  }

@keyframes slide_animéec {
    0%, 15%, 100%{
        left: 0; /*1ère image*/
    }
    35%, 50%{
        left: -70vw; /*2ème image*/
    }
    65%, 92%{
        left: -140vw; /*3ème image*/
    }
  }

/*Pre-Footer*/


.zone {
  background: black;
  grid-gap: 40px;
  text-align: center;
  padding:15px;
}

.zonea {
  display: inline;
  grid-gap: 40px;
  text-align: center;
  padding:15px;
}


.zonea p{
  color: white;
  opacity: 1;
  font-size: 15px;
}

.zonea img {
  width:25px;
  height: 25px;
  margin-left: 20px;
}

/*Footer*/

.footer {
  background: #2b3c4b;
  text-align: center;
  padding: 24px 0;
}

.footer p {
  color: #f0c40f;
}

.fbutton{
  background-color: #d4ac3a;
  color: white;
  padding: 16px 48px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  transition: .3s;
}

.fbutton:hover {
  background-color: #0D1EC6;
  color: white;
}

 