body {
  font-family: Overpass;
  margin: 0;
}

h1, h2, h3 {
  color: #404042;
  font-family: Chivo;
}

p {
  color: #404042;
  opacity: .7;
}


/* liens */ 
a:hover {
font-weight: bold;
}

a {
text-decoration: none;
color: black;
}

/*SQL PAGE*/
.pjheader {
  background:#2b3c4b;
  background-size: cover;
  background-position: center;
  padding: 20px 0;
  border-bottom:5px solid #fdcb59;
  height:30px;
  top: 0;
  width:100%;
  background-attachment: fixed;
  position: fixed;
  z-index:3;

}

#nav2 {
  width:100%;
  margin: 0;
  text-align: right;
  display: inline;
}
#nav2 li {
  display: inline;
  list-style: none;
}
#nav2 a {
  color:#fdcb59;
  display:inline-block;
  margin: 0 30px;
}

#nav2 h1{
  color:#fdcb59;
  display:inline-block;
  margin: 0 30px;
}


.sqlpjbanner {
  background-image: url(../images/deus.jpg);
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
  border-bottom: 5px solid #fdcb59;
}


.sqlpjbanner h1 {
  color: white;
  font-size: 45px;
  margin: 0;
}

.sqlcontainer {
  margin:auto;
  padding: 20px;
  text-align: justify;
}

.wrapper_one {
  display: grid;
  align-content: center;
  background: #fdcb59;
  padding: 50px;
}



/* SLIDER*/ 

#slider {
    position: relative;
    left: 150px;
    width: 885px;
    border-radius: 4px;
    overflow: hidden;
    height: 500px;
}

#slides {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    max-height: 100%;
    animation-name: slide;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#slides:hover {
    animation-play-state: paused;
}

#slides figure {
    display: inline-block;
    width: 70vw;
    max-height: 100%;
    margin: 0;
}

#slides figure img {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#slides figure figcaption {
    position: absolute;
    bottom: 0;
    padding: 2.5em 0;
    text-align: center;
    width: inherit;
    background-color: rgba(0,0,0,0.5);
    color: white;
}

.dots_commands  {
    position: absolute;
    bottom: 0;
    width: 70vw;
    padding:0;
    margin: 0;
    text-align: center;
}

.dots_commands li {
    display: inline;
    padding:0; margin:0;
}

.dots_commands label {
    position: relative;
    display: inline-block;
    height:8px; 
    width: 8px;
    margin: 0 5px;
    text-indent: -9999px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.55) inset;
    cursor: pointer;
}

.dots_commands label:active {
    outline: none;
    background: dodgerblue;
}


#play {
    position: absolute;
    cursor: pointer;
    bottom: 2em;
    right: 2em;
    width: 0;
    height: 0;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-left: 1em solid rgba(255,255,255,0.7);
    display: none;
    text-indent: -9999px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]#show_slide1:checked ~ nav .dots_commands li:nth-of-type(1) label,
input[type="radio"]#show_slide2:checked ~ nav .dots_commands li:nth-of-type(2) label,
input[type="radio"]#show_slide3:checked ~ nav .dots_commands li:nth-of-type(3) label,
input[type="radio"]#show_slide4:checked ~ nav .dots_commands li:nth-of-type(4) label,
input[type="radio"]#show_slide5:checked ~ nav .dots_commands li:nth-of-type(5) label,
input[type="radio"]#show_slide6:checked ~ nav .dots_commands li:nth-of-type(6) label,
input[type="radio"]#show_slide7:checked ~ nav .dots_commands li:nth-of-type(7) label,
{
    outline: none;
    background: dodgerblue;
}

input[type="radio"]#show_slide1:checked ~ div#slides {
    animation: none;
    left: 0;
}

input[type="radio"]#show_slide2:checked ~ div#slides {
    animation: none;
    left: -70vw;
}

input[type="radio"]#show_slide3:checked ~ div#slides {
    animation: none;
    left: -140vw;
}
input[type="radio"]#show_slide4:checked ~ div#slides {
    animation: none;
    left: -210;
}

input[type="radio"]#show_slide5:checked ~ div#slides {
    animation: none;
    left: -280vw;
}

input[type="radio"]#show_slide6:checked ~ div#slides {
    animation: none;
    left: -350vw;
}

input[type="radio"]#show_slide7:checked ~ div#slides {
    animation: none;
    left: -420vw;
}


input[type="radio"]:not(:nth-last-of-type(1)):checked ~ nav label#play {
    display: block;
}

input[type="radio"]#play:checked ~ div#slides {
    animation-name: slide;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}


@keyframes slide {
    0%, 7%, 100%{
        left: 0; /*1ère image*/
    }
    11%, 20%{
        left: -70vw; /*2ème image*/
    }
    27%, 36%{
        left: -140vw; /*3ème image*/
    }
    42%, 51%{
        left: -210vw; /*4ème image*/
    }
    57%, 66%{
        left: -280vw; /*5ème image*/
    }
    72%, 81%{
        left: -350vw; /*6ème image*/
    }
    90%, 96%{
        left: -420vw; /*7ème image*/
    }
  }

/*Pre-Footer*/


.zone {
  background: black;
  grid-gap: 40px;
  text-align: center;
  padding:15px;
}

.zonea {
  display: inline;
  grid-gap: 40px;
  text-align: center;
  padding:15px;
}


.zonea p{
  color: white;
  opacity: 1;
  font-size: 15px;
}

.zonea img {
  width:25px;
  height: 25px;
  margin-left: 20px;
}

/*Footer*/

.footer {
  background: #2b3c4b;
  text-align: center;
  padding: 24px 0;
}

.footer p {
  color: #f0c40f;
  opacity: 1;
}

.fbutton{
  background-color: #d4ac3a;
  color: white;
  padding: 16px 48px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  transition: .3s;
}

.fbutton:hover {
  background-color: #0D1EC6;
  color: white;
}

